<aside role=complementary>
  <h2>Why 40,000+ Business Owners Trust Clarify</h2>

  <p>We make sure you're getting the lowest rate possible, and set your business up for success.

  <p>When you choose Clarify, you're part of our family. Our relationship is not just about numbers.

  <h3>Small Businesses ❤️ Clarify</h3>
  <p>There's a reason why small business owners love us. Don't take our word for it, here's what they have to say.

  <h3>Easy Application</h3>
  <p>Your time is valuable. So our online application takes just 2 minutes.

  <h3>Same-Day Approval</h3>
  <p>Get instant approval and funds in your bank account with 1-2 days.

  <h3>Experienced Loan Advisors</h3>
  <p>When you apply for a fast business loan with us, your dedicated Clarify advisor does all the legwork. So you can focus on what you do best — running your company. More about us →

  <h3>Clarify Capital business loan advisors</h3>

  <p>Your business is unique, and your financial solutions should be, too. We offer flexible terms tailored to meet the specific needs of your business.
</aside>

