<p style="color: green"><%= notice %></p>

<% content_for :title, 'Loans' %>

<h1>Loans</h1>

<section id='loans'>
  <% @loans.each do |loan| %>
    <%= render loan %>
    <p>
      <%= link_to 'Show this loan', loan, role: :button %>
    </p>
  <% end %>
</section>

<%= link_to 'New loan', new_loan_path, role: :button %>
