<% content_for :title, 'Editing Lender' %>

<h1>Editing Lender</h1>

<%= render 'form', lender: @lender %>

<br>

<div>
  <%= link_to 'Show this Lender', @lender %> |
  <%= link_to 'Back to Lenders', lenders_path %>
</div>
